@import 'fonts.css';

.hdsection {
  width: 100%;
  display: block;
  background-color: #0b5893;
  height: 60px;
  padding-top: 10px;
  padding-bottom: 40px;
}

.sitetitle h1 {
  color: white;
  font-family: 'Roboto Condensed';
  font-size: 21px;
  letter-spacing: .01em;
  font-weight: 700;
  margin-left: 14px;
  margin-right: 20px;
  padding-top: 10px;
}

.sitetitle a {
 text-decoration: none;
}

.sitetitle a:hover {
 color:#000000;
text-decoration: none;
}

.sitetitle a:active {
 color:#000000;
 text-decoration: none;
}

body {
  color: rgba(0, 0, 0, 0.8);
  line-height: 24px;
  font-size: 15px;
  font-family: 'Open Sans'
  }

body h1 {
    font-size: 20px;
    font-weight: 400;
      font-family: 'Roboto Condensed';
  }

body h2 {
  font-size: 18px;
  font-weight: 400;
    font-family: 'Roboto Condensed';
}

body h3 {
  font-size: 17px;
  font-family: 'Roboto Condensed';
  color: black;
}

p a {
  color: #007AFC;
  text-decoration: none;
  text-decoration-color: #007AFC;
}

p a:hover { color: #007AFC;
  text-decoration: none;
  text-decoration-color: #007AFC;
}

.content a {
  color: #0b5893;
  text-decoration: none;
  text-decoration-color: #007AFC;
}

.content a:hover {
color:#007AFC;
}

.content a:active {
 color:#007AFC;
 text-decoration: none;
}

.content img[src*="image"] {
  border-radius: 10px;
}

.content img[src*="image"] {
  max-width: 80%
}

.content img[src*="image"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.content img[src*="image"]  {
  box-shadow: 0 0 10px .2px grey;
  }

  .nonpost-content {
    padding: 10px 20px 40px 20px;
    margin-left: 3px;
  }

  .nonpost-content p {
    font-family: 'Open Sans', serif;
  }

  .nonpost-title {
    font-size: 24px;
    letter-spacing: 0.005rem;
    font-weight: 400;
    font-family: 'Roboto Condensed';
    line-height: 37px;
    max-width: 480px;
  }

  .post-content {
    padding: 5px 20px 40px 20px;
  }

  .post-content p {
    font-family: 'Open Sans', sans-serif;
  }

  .post-content h1 {
    font-family: 'Roboto Condensed';
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;

  }

  .post-title {
    font-size:21px;
    letter-spacing: 0.005rem;
    font-weight: 700;
    font-family: 'Roboto Condensed';
    line-height: 37px;
    max-width: 480px;
  }

  .post-title a {
      color: #0b5893;
     text-decoration: none;
    }

blockquote {
  width:90%;
  margin:20px auto;
  padding:0px 30px 0px 12px;
  border-left:6px solid #e5e4e2;
  line-height:27px;
  position: relative;
}

.page-nav a {
 color:grey;
 text-decoration: none;
}

.page-nav a:hover {
color:#417dc1;
text-decoration: none;
}

.page-nav a:active {
 color:#417dc1;
 text-decoration: none;
}

.page-nav {
  font-family: 'Open Sans';
}

/* Main menu */

.topmenu {
padding-top: 0px;
margin-top: -15px;
}

.no-js .menu__btn {
  display: none;
}

.menu__btn {
  display: block;
  width: 100%;
  padding: 0;
  font: inherit;
  color: #fff;
  text-decoration: none;
  background: #2a2a2a;
  border: 0;
  outline: 0;
}

.menu__btn-title {
  position: relative;
  display: block;
  padding: 0px 25px;
  padding: 0.625rem 0.9375rem;
  text-align: left;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

:focus > .menu__btn-title {
  box-shadow: inset 0 0 1px 0px #e22d30;
}

button:not(:-moz-focusring):focus > .menu__btn-title {
  box-shadow: none;
}

.menu__btn:focus,
.menu__btn-title:focus {
  outline: 0;
}

.js .menu__btn--active {
  color: #e22d30;
}

.menu__list,
.submenu__list {
  list-style: none;
  background: #0b5893;
  font-family: 'Roboto Condensed';
  font-size: 16px;
  font-weight: 400;
}

.menu__item:hover > a {
  color: #fff;
}

.menu__item:first-child {
  border: 0;
}

.menu__item--active {
  background: #0b5893;
}

.menu__link {
  display: block;
  padding: 10px 15px;
  padding: 0.625rem 0.9375rem;
  font-weight: 400;

  color: #fff;
  text-decoration: none;
}

.menu__list .menu__item .submenu__list {
  background: #0b5893;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  max-width: 15rem;
  transition: all 0.5s ease;
  border-top: 5px solid #0b5893;
  display: none;
}

.menu__item.menu__dropdown input[type="checkbox"] {
  display: none;
}

.menu__list .menu__item:hover > .submenu__list,
.menu__list .menu__item:focus-within > .submenu__list,
.menu__list .menu__item .submenu__list:hover,
.menu__list .menu__item .submenu__list:focus {
  visibility: visible;
  opacity: 1;
  display: block;
}

.menu__link:hover {
  color: #fff;
}

.js .menu__list {
  position: absolute;
  z-index: 1;
  width: 100%;
  visibility: hidden;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: top left;
  transform-origin: top left;
}

.js .menu__list--active {
  visibility: visible;
  border-top: 1px solid #0b5893;
  border-bottom: 1px solid #0b5893;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

.menu__list--transition {
  transition: visibility 0.15s ease, transform 0.15s ease,
    -webkit-transform 0.15s ease;
}

@media screen and (min-width: 80px) {

  .menu__btn {
    display: none;
  }

  .menu__list,
  .js .menu__list {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    padding-left: 10px;
    flex-wrap: wrap;
    visibility: visible;
    border: 0;
    -webkit-transform: none;
    transform: none;
  }

@media screen and (max-width: 81px) {
  .menu__item.menu__dropdown .drop-icon {
    position: absolute;
    right: 1rem;
    top: auto;
  }

  .menu__item.menu__dropdown input[type="checkbox"] + .submenu__list {
    display: none;
  }

  .menu__item.menu__dropdown input[type="checkbox"]:checked + .submenu__list {
    border: none;
    padding-left: 10px;
    visibility: visible;
    opacity: 1;
    display: block;
    position: relative;
    max-width: 100%;
  }
}

@media screen and (max-width: 120px) {
  .menu__item.menu__dropdown .drop-icon {
    position: absolute;
    right: 1rem;
    top: auto;
  }

  .menu__item.menu__dropdown input[type="checkbox"] + .submenu__list {
    display: none;
  }

  .menu__item.menu__dropdown input[type="checkbox"]:checked + .submenu__list {
    border: none;
    padding-left: 10px;
    visibility: visible;
    opacity: 1;
    display: block;
    position: relative;
    max-width: 100%;
  }
}


table {
font-family: 'Open Sans';
font-size: 12px;
}

table {
border-collapse: collapse;
width: 100%;
}

td {
border-top: 1px solid #ccc;
border-bottom: 1px solid #ccc;
text-align: left;
}

.table a {
color: #0b5893;
text-decoration: none;
text-decoration-color: #0b5893;
}

.table a:hover {
color:#0b5893;
}

.table a:active {
color:#007AFC;
text-decoration: none;
}

.table a:visited {
color:#007AFC;
text-decoration: none;
}

img[alt$=">"] {
  float: center;
  margin-left: 40px;
  margin-top: 0px;
  margin-bottom: 10px;
  width: 100%
}

img[src*="images"] {
  border-radius: 25px;
}

img[src*="images"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img[src*="images"]  {
  box-shadow: 0 0 20px .2px grey;
  }

  @media screen and (min-width: 80px) {

    img[src*="images"] {
        max-width: 300px;
  }}

  @media screen and (max-width: 81px) {

          img[src*="images"] {
              max-width: 240px;
  }}
